.generic-card {
    border: solid 1px #dedede;
    margin: 1rem;
    padding: 1.25rem;
    border-radius: 0.2rem;
}

.generic-card__tag {
    position: absolute;
    height: 3.5rem;
    width: 3rem;
    margin-top: -2rem;
    border-radius: 0.4rem;
    color: white;
    font-family: serif;
    font-size:1.2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 0.5rem;
    overflow: hidden;
    background-color: black
}

.generic-card__tag-content {
    margin-top: auto; /* push content to bottom */
    margin-bottom: 0.7rem;
}