.card-layout__card {
    box-sizing: border-box;
}

/** wide screens have four columns */
@media (min-width: 900px) {
    .card-layout__card {
        width: 25%;
    }
}

/** medium screens have three columns */
@media (min-width: 550px) and (max-width: 899px) {
    .card-layout__card {
        width: 33%;
    }
}

/** small-medium screens have two columns */
@media (min-width: 400px) and (max-width: 549px) {
    .card-layout__card {
        width: 50%;
    }
}

/** small screens have one columns */
@media (max-width: 399px) {
    .card-layout__card {
        width: 100%;
    }
}

body {
    font-size: 62.5%;
}

p {
    font-size: 2em;
}

/** reduce columns for narrow screens */

/*@media screen and (min-width: 500px) {*/
    /*.card-layout__card {*/
        /*width: 50%;*/
    /*}*/
/*}*/

/** one col for mobiles */

/*@media screen and (min-width: 500px) {*/
    /*.card-layout__card {*/
        /*width: 50%;*/
    /*}*/
/*}*/